<div>
    <h2>JIRA Integration (Coming Soon)</h2>
    <p class="lead">
        Soon, you'll be able to connect PR Pilot to your <a href="https://www.atlassian.com/software/jira">JIRA</a> account,
        opening up a world of powerful new use cases for you, for example:
    </p>
    <div class="mb-3">
        <h5><span class="fw-bold">🔍 Easy Search</span></h5>
        <p>Finding stuff in JIRA can be hard. PR Pilot will search and find for you.</p>
    </div>
    <div class="mb-3">
        <h5><span class="fw-bold">🛠️ Assisted Refinements</span></h5>
        <p>PR Pilot can read your ticket, find relevant information/code and assist you in adding technical context.</p>
    </div>
    <div class="mb-3">
        <h5><span class="fw-bold">🏷️ Format & Label</span></h5>
        <p>Let PR Pilot apply your team's style and labeling guidelines to your tickets.</p>
    </div>
    <p>
        The JIRA integration will add the following capabilities to PR Pilot:
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center"><span class="badge bg-info rounded-pill me-2"><i class="fa fa-tasks"></i></span>Read and write issues</li>
            <li class="list-group-item d-flex align-items-center"><span class="badge bg-info rounded-pill me-2"><i class="fa fa-search"></i></span>Search projects</li>
        </ul>
    </p>
</div>