<div>
    <h2>Logstash Integration (Coming Soon)</h2>
    <p class="lead">
        Soon, you'll be able to connect PR Pilot to your <a href="https://www.elastic.co/logstash">Logstash</a> server,
        opening up a world of powerful new use cases for you, for example:
    </p>
    <div class="mb-3">
        <h5><span class="fw-bold">🐞 Powerful Debugging</span></h5>
        <p>With access to bug tickets and your code, PR Pilot will quickly find the right query and fetch the logs for you in seconds.</p>
    </div>
    <div class="mb-3">
        <h5><span class="fw-bold">💬 Prompt-Based Monitoring</span></h5>
        <p>Browsing through logs is annoying. Instead, use prompts - "Something's wrong. Look at the API logs in prod over the last 2 minutes"</p>
    </div>
    <div class="mb-3">
        <h5><span class="fw-bold">📊 Kibana Dashboard Generation</span></h5>
        <p>Generate custom, use-case specific Kibana dashboards in an instant.</p>
    </div>
    <p>
        The Logstash integration will add the following capabilities to PR Pilot:
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center"><span class="badge bg-info rounded-pill me-2"><i class="fa fa-database"></i></span>Run Logstash queries</li>
        </ul>
    </p>
</div>