<div>
    {% if sentry_api_key %}
        <p>
            PR Pilot is connected to your <span class="fw-bold">{{ sentry_org }}</span> Sentry organization and can do the following:
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center"><span class="badge bg-info rounded-pill me-2"><i class="fa fa-bug"></i></span>Query Sentry issues and events</li>
            </ul>
        </p>
        <form method="post" action="{% url 'integrations' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete_sentry_integration">
            <button type="submit" class="btn btn-danger">Delete Sentry Integration</button>
        </form>
    {% else %}
        <p>
            Connect PR Pilot to your Sentry account by entering your <a href="https://docs.sentry.io/api/auth/#user-authentication-tokens" target="_blank">User Token</a> below.
            Make sure to set "Read" permissions for "Issues and Events"!
        </p>
        <form method="post" action="{% url 'integrations' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="sentryApiKey" class="form-label">User Auth Token</label>
                <input type="text" class="form-control" id="sentryApiKey" name="sentry_api_key" required>
            </div>
            <div class="mb-3">
                <label for="sentryOrg" class="form-label">Sentry Organization ID or Slug</label>
                <input type="text" class="form-control" id="sentryOrg" name="sentry_org" required>
            </div>
            <button type="submit" class="btn btn-primary">Save API Key</button>
        </form>
    {% endif %}
</div>